<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOG" class="ch.qos.logback.core.FileAppender">
        <!--        <File>..\logs\log_file.log</File>-->
        <File>/home/chelovek/JavaLessons/jd2Lessons/t11/task11/src/main/resources/log/log_file.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="it.academy" level="warn" additivity="false">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="LOG"/>
    </root>


</configuration>